// Font title lowercase
h1, h2, h3, h4, h5, h6,
strong,
.strong,
.button--font-alt:not(.button, button) > i,
dt,
sup,
sub,
legend,
button > i,
.button > i,
.data__item,
.price {
  text-transform: lowercase;
}

// Underline
.underline:after {
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  box-shadow: 1rem 0 $grey, -1rem 0 $grey;
}
.align-left,
.step__content {
  .underline:after {
    margin-left: 1rem;
  }
}
@media (min-width: 1200px) {
  .align--xl-right {
    .underline:after {
        margin-right: 1rem;
        margin-left: auto;
    }
  }
}
@media (min-width: 800px) {
  .step:nth-child(2n+1) .step__content {
    .underline:after {
        margin-left: auto;
        margin-right: 1rem;
    }
  }
}
.section__title--icon-bottom .section__icon {
  gap: .5rem;
  &:before,
  &:after {
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
    background-color: $grey;
  }
}

// Header
@keyframes logo-intro {
  0%,
  75% {
    transform: translate(var(--logo-x, 0em), calc(50vh - 50% - var(--logo-y, 6em))) scale(var(--logo-z, 2.5));
  }
}
#body-inicio #header {
  .column--item-1 {
    .image {
      animation: logo-intro 2.5s 0s both;
      @media (min-width: $screen-xl) {
        --logo-x: 13em;
        --logo-y: 11em;
        --logo-z: 3.8;
      }
    }
    // .image,
    // .image__inner {
    //   border-radius: 0;
    // }
    .image__inner {
      overflow: visible;
    }
  }
  @mixin show-from($delay) {
    animation: logo-drop .5s (2 + .25s * $delay) both;
  }
  .column--item-1 .description p {        @include show-from(1); }
  .column--item-1 .description .buttons { @include show-from(2); }
  .column--item-2 {                       @include show-from(3); }
}
